<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Descrição</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <p class="sentence">
      abacaxi
    </p>
    <p class="sentence">
      abacate
    </p>
  </div>
  <div class="col-md-6">
    <div id="editor"></div>
  </div>
</div>
