<h1>Automatos</h1>

<h2>Automatos Finitos Deterministico</h2>

<p>
  <%= image_tag 'afd-exemplo1.png' %>
</p>
<p>
  Consome: <strong>a(c|d|e)b</strong>
</p>

<h2>Automatos Finitos Não Deterministicos</h2>

<p>
  <%= image_tag 'afnd-exemplo1.png' %>
</p>
<p>
  Consome: <strong>a(c|d|e)b</strong>
</p>

